2IhdBzvsuBkRbzRE.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-01T20:54:57.344Z",
    "createdAt": "2026-01-01T20:54:57.344Z",
    "versionId": "a838cd90-f30f-4689-9ac1-10faa303a333",
    "workflowId": "2IhdBzvsuBkRbzRE",
    "nodes": [
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "hXK1eZBbzYKWyuRf",
            "mode": "list",
            "cachedResultUrl": "/workflow/hXK1eZBbzYKWyuRf",
            "cachedResultName": "Mimir-RBT Decopled"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "query": "={{ $json.query }}",
              "sessionId": "={{ $json.sessionId }}"
            },
            "matchingColumns": [
              "query"
            ],
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "sessionId",
                "displayName": "sessionId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          432,
          0
        ],
        "id": "db97f8f7-ab8b-4678-8985-140aee3a9038",
        "name": "Call 'Mimir-RBT Decopled'",
        "notes": "Calls the RAG Agent to generate the mock exam."
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "append",
                "field": "output"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          656,
          0
        ],
        "id": "26a85861-c85a-4b98-8ed6-edcb22889b74",
        "name": "Summarize",
        "notes": "Append all the results of the queries to the RAG Agent into a single output."
      },
      {
        "parameters": {
          "jsCode": "const sessionId = $input.first().json.sessionId;\n\nreturn [\n  { query: \"Generate Group 1 (Q 1-10). Rules: Output ONLY raw JSON array. Use tech ABA terms. Schema: [{\\\"q\\\":\\\"\\\",\\\"o\\\":[],\\\"a\\\":\\\"\\\"}].\", sessionId },\n  { query: \"Generate Group 2 (Q 11-20). No repeats.\", sessionId },\n  { query: \"Generate Group 3 (Q 21-30). No repeats.\", sessionId },\n  { query: \"Generate Group 4 (Q 31-40). No repeats.\", sessionId },\n  { query: \"Generate Group 5 (Q 41-50). No repeats.\", sessionId },\n  { query: \"Generate Group 6 (Q 51-65). No repeats.\", sessionId }, // Slightly larger\n  { query: \"Generate Group 7 (Q 66-75). No repeats.\", sessionId },\n  { query: \"Generate Group 8 (Q 76-85). Final set. JSON only.\", sessionId }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "id": "d2fa8c70-6dd4-4d7a-9f7d-a7ab41554d0c",
        "name": "Set queries",
        "notes": "Set the queries used to generate a full mock of an RBT Certification exam. It's composed by an initial instruction to generate the exam and follow up queries specifying format rules as needed. "
      },
      {
        "parameters": {
          "jsCode": "// 1. Get the array of responses from the previous Aggregate node\nconst responses = $input.first().json.appended_output // Adjust 'all_responses' to your field name\nlet masterExam = [];\n\nfor (const text of responses) {\n  try {\n    // 2. Use Regex to find everything between the first '[' and the last ']'\n    const jsonMatch = text.match(/\\[[\\s\\S]*\\]/);\n    \n    if (jsonMatch) {\n      const cleanJson = JSON.parse(jsonMatch[0]);\n      // 3. Merge this group into the master list\n      masterExam = masterExam.concat(cleanJson);\n    }\n  } catch (error) {\n    console.error(\"Failed to parse a group of questions:\", error);\n  }\n}\n\n// 4. Return the pure JSON string\nreturn {\n  pure_json_exam: JSON.stringify(masterExam),\n  total_questions: masterExam.length\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          0
        ],
        "id": "c3a71bd0-00fc-4c7d-9d47-19a9a110929c",
        "name": "Extract and clean JSON",
        "notes": "Extract and cleans the JSON code of the complete mock exam."
      },
      {
        "parameters": {
          "tableId": "mock_exams",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "content",
                "fieldValue": "={{ $json.pure_json_exam }}"
              },
              {
                "fieldId": "version",
                "fieldValue": "3"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1104,
          0
        ],
        "id": "db332043-7d60-4a91-8b81-95beda4b42d6",
        "name": "Save to Supabase",
        "credentials": {
          "supabaseApi": {
            "id": "UjpfwLCOwOKmxVQn",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "sessionId"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "7adb6811-a1a4-4d04-8502-7274b109e17b",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "Call 'Mimir-RBT Decopled'": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Extract and clean JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set queries": {
        "main": [
          [
            {
              "node": "Call 'Mimir-RBT Decopled'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract and clean JSON": {
        "main": [
          [
            {
              "node": "Save to Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Set queries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jose Ricardo Cedeno Garcia",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "a838cd90-f30f-4689-9ac1-10faa303a333",
  "connections": {
    "Call 'Mimir-RBT Decopled'": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Extract and clean JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set queries": {
      "main": [
        [
          {
            "node": "Call 'Mimir-RBT Decopled'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract and clean JSON": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-24T15:27:34.161Z",
  "id": "2IhdBzvsuBkRbzRE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Mimir-RBT] Mock exams DECOPLED",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hXK1eZBbzYKWyuRf",
          "mode": "list",
          "cachedResultUrl": "/workflow/hXK1eZBbzYKWyuRf",
          "cachedResultName": "Mimir-RBT Decopled"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "sessionId": "={{ $json.sessionId }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        432,
        0
      ],
      "id": "db97f8f7-ab8b-4678-8985-140aee3a9038",
      "name": "Call 'Mimir-RBT Decopled'",
      "notes": "Calls the RAG Agent to generate the mock exam."
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        656,
        0
      ],
      "id": "26a85861-c85a-4b98-8ed6-edcb22889b74",
      "name": "Summarize",
      "notes": "Append all the results of the queries to the RAG Agent into a single output."
    },
    {
      "parameters": {
        "jsCode": "const sessionId = $input.first().json.sessionId;\n\nreturn [\n  { query: \"Generate Group 1 (Q 1-10). Rules: Output ONLY raw JSON array. Use tech ABA terms. Schema: [{\\\"q\\\":\\\"\\\",\\\"o\\\":[],\\\"a\\\":\\\"\\\"}].\", sessionId },\n  { query: \"Generate Group 2 (Q 11-20). No repeats.\", sessionId },\n  { query: \"Generate Group 3 (Q 21-30). No repeats.\", sessionId },\n  { query: \"Generate Group 4 (Q 31-40). No repeats.\", sessionId },\n  { query: \"Generate Group 5 (Q 41-50). No repeats.\", sessionId },\n  { query: \"Generate Group 6 (Q 51-65). No repeats.\", sessionId }, // Slightly larger\n  { query: \"Generate Group 7 (Q 66-75). No repeats.\", sessionId },\n  { query: \"Generate Group 8 (Q 76-85). Final set. JSON only.\", sessionId }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "d2fa8c70-6dd4-4d7a-9f7d-a7ab41554d0c",
      "name": "Set queries",
      "notes": "Set the queries used to generate a full mock of an RBT Certification exam. It's composed by an initial instruction to generate the exam and follow up queries specifying format rules as needed. "
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the array of responses from the previous Aggregate node\nconst responses = $input.first().json.appended_output // Adjust 'all_responses' to your field name\nlet masterExam = [];\n\nfor (const text of responses) {\n  try {\n    // 2. Use Regex to find everything between the first '[' and the last ']'\n    const jsonMatch = text.match(/\\[[\\s\\S]*\\]/);\n    \n    if (jsonMatch) {\n      const cleanJson = JSON.parse(jsonMatch[0]);\n      // 3. Merge this group into the master list\n      masterExam = masterExam.concat(cleanJson);\n    }\n  } catch (error) {\n    console.error(\"Failed to parse a group of questions:\", error);\n  }\n}\n\n// 4. Return the pure JSON string\nreturn {\n  pure_json_exam: JSON.stringify(masterExam),\n  total_questions: masterExam.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "c3a71bd0-00fc-4c7d-9d47-19a9a110929c",
      "name": "Extract and clean JSON",
      "notes": "Extract and cleans the JSON code of the complete mock exam."
    },
    {
      "parameters": {
        "tableId": "mock_exams",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.pure_json_exam }}"
            },
            {
              "fieldId": "version",
              "fieldValue": "3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ],
      "id": "db332043-7d60-4a91-8b81-95beda4b42d6",
      "name": "Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "UjpfwLCOwOKmxVQn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "7adb6811-a1a4-4d04-8502-7274b109e17b",
      "name": "When Executed by Another Workflow"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "Ember96",
    "name": "n8n_workflows_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-24T15:27:34.166Z",
      "createdAt": "2025-12-24T15:27:34.166Z",
      "role": "workflow:owner",
      "workflowId": "2IhdBzvsuBkRbzRE",
      "projectId": "qxeR1gIEc01jkoF9"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-01T20:54:57.000Z",
  "versionId": "a838cd90-f30f-4689-9ac1-10faa303a333"
}