hHbxx4I7jAnIFKM6.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-27T02:38:23.652Z",
  "id": "hHbxx4I7jAnIFKM6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Content Creator",
  "nodes": [
    {
      "parameters": {},
      "id": "d1ba5f65-7572-461b-8563-d643c76fee5f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: You are an expert Content Curator and BCBA.\n\nObjective: From the provided list of 60 RSS feed entries, select exactly TWO distinct items and return them as an ARRAY of two JSON objects.\n\nItems to Select:\n\nPost A (Field News): A significant research finding or legislative change.\n\nPost B (Parenting Practice): A science-backed home activity for parents.\n\nInstructions:\n\nSelection: Choose the most high-impact stories. Avoid duplicates.\n\nAudio Script: Professional and friendly. Must be under 50 words (<20 seconds).\n\nInstagram Post: Start with a \"hook,\" provide value, and include a CTA with 3-5 hashtags.\n\nConstraint: No preamble. Return ONLY a valid JSON array.\n\nInput Data: {{ $json.rss_items_stringified }}\n\nRequired JSON Schema (Return an Array of 2 Objects): [ { \"category\": \"Field News\", \"title\": \"Catchy headline\", \"post_content\": \"Instagram caption\", \"audio_script\": \"20-second script\", \"source_url\": \"Matching URL from input\", \"metadata\": { \"selected_topic\": \"Original RSS Title\" } }, { \"category\": \"Parenting Practice\", \"title\": \"Catchy headline\", \"post_content\": \"Instagram caption\", \"audio_script\": \"20-second script\", \"source_url\": \"Matching URL from input\", \"metadata\": { \"selected_topic\": \"Original RSS Title\" } } ]",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        16
      ],
      "id": "cdd8ea8c-8afc-4c96-ac9b-bfc4494ed003",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        232,
        240
      ],
      "id": "65b67f91-ac27-4ab8-b1d4-43695c8cb1df",
      "name": "Main Model",
      "credentials": {
        "openRouterApi": {
          "id": "ujyYSOjWajsHaucP",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-next-80b-a3b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        360,
        240
      ],
      "id": "43022481-c654-4211-b712-7cde4fa3e75b",
      "name": "Fallback Model",
      "credentials": {
        "openRouterApi": {
          "id": "ujyYSOjWajsHaucP",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        16
      ],
      "id": "e771445c-a4a8-4152-ae7c-63209990b7ea",
      "name": "Split Out"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "Ember96",
    "name": "n8n_workflows_backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-27T02:38:23.656Z",
      "createdAt": "2026-01-27T02:38:23.656Z",
      "role": "workflow:owner",
      "workflowId": "hHbxx4I7jAnIFKM6",
      "projectId": "qxeR1gIEc01jkoF9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-29T23:49:56.257Z",
  "versionId": "402f7d1d-b169-4271-9a57-9bbe3609d9df"
}