OyjGGPiWPzQc572L.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Aggregate RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate RSS Items": {
      "main": [
        [
          {
            "node": "Call 'Content Creator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-27T02:38:40.123Z",
  "id": "OyjGGPiWPzQc572L",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Content Fetcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "4bc279c7-38a1-445a-ba55-7152bec50997",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        320,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Get row(s)').item.json.rss_url }}",
        "options": {}
      },
      "id": "bcfc7797-af73-41bb-92ae-e2b356c1650b",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        720,
        80
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "content"
            },
            {
              "fieldToAggregate": "link"
            }
          ]
        },
        "options": {}
      },
      "id": "a26190d0-0a2b-4ece-b936-c285c901a6ca",
      "name": "Aggregate RSS Items",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        80
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "GLO5Uq3U4FtlyfvY",
          "mode": "list",
          "cachedResultName": "RSS Feed for ABA",
          "cachedResultUrl": "/projects/qxeR1gIEc01jkoF9/datatables/GLO5Uq3U4FtlyfvY"
        },
        "limit": 10
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        528,
        80
      ],
      "id": "c6216f14-b8e3-489e-88e4-4d34dffaa3b9",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hHbxx4I7jAnIFKM6",
          "mode": "list",
          "cachedResultUrl": "/workflow/hHbxx4I7jAnIFKM6",
          "cachedResultName": "Content Creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1152,
        80
      ],
      "id": "0fe3a828-c604-4326-a29a-c8340ba818ba",
      "name": "Call 'Content Creator'"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "Ember96",
    "name": "n8n_workflows_backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-27T02:38:40.131Z",
      "createdAt": "2026-01-27T02:38:40.131Z",
      "role": "workflow:owner",
      "workflowId": "OyjGGPiWPzQc572L",
      "projectId": "qxeR1gIEc01jkoF9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-29T03:15:37.405Z",
  "versionId": "176cd29b-ad0f-437c-b251-27a71a41958b"
}